<br>
<br>
   <div>
    <img class="img" src="img/img1.jpeg">
</div>
     <div>
      <img class="img1" src="img/business.jpeg"></div>
<div class="text">
    <p>Job Seekers is a recruitment agency specialized in quality recruitment with the purpose of assisting companies to find suitable candidates that would efficiently contribute in the company’s success.</p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text">
    <p>Job Seekers pool of manpower ranges from professionals including IT Professionals, business (all disciplines), Media and advertising; communication and marketing, Oil and Gas/Petrochemical Personnel, Engineers (all disciplines), medical/healthcare practitioners, teachers (all subjects), hospitality, etc…, Job Seekers has an extensive number of applicants in its Database Management System and on dedicated and third party provided online job portals. </p>
    <p>Job Seekers mainly operates in Lebanon, Bahrain, Kuwait, UAE, Qatar, and KSA in addition to other countries in the Levant, GCC and North Africa.</p>
    <p>Our team consists of highly recruitment consultants with university degrees in various majors who are able to draw on their recruitment knowledge to make successful and durable matches between candidates and employers.</p>
</div>